div{
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  transition: all 3s ease-in;
  
}

div:hover{
  background-color: navy;
  width: 500px;
  box-shadow: 5px 10px #888888;
  transform: rotate(-90deg);
}